*{
    margin: 0;
    font-family: 'Lato', sans-serif;
    padding: 0%;
    box-sizing: border-box;
    color: rgb(216, 204, 204);
}
html{
    background: rgb(92,0,41);
background: radial-gradient(circle, rgba(92,0,41,1) 0%, rgba(97,48,75,1) 100%);height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.chat-konta{
    width: 1300px;
    height: 700px;
    background: #857C8D;
    box-shadow: 5px 5px 15px rgb(54, 54, 54);
    border-radius: 25px;
    display: flex;
}
.users{
    width: 400px;
    height: 100%;
    background-color: #61304B;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    display: flex;
    flex-direction: column;
}
.users h1{
    margin-top: 20px;
}
.naslov{
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom:5px solid  #94BFBE;
    margin-bottom: 20px;
}
.names{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.names li{
    color: white;
    padding:15px;
    margin: 5px;
    background-color: #94BFBE;
}


.komms{
    width: 200px;
}

.chat-box{
    width: 100%;
    position: relative;
}
.upis{
    width:82%;
    height: 50px;
    position: absolute;
    background: #576679;
    bottom: 10%;
    right: 9%;
    border-radius: 20px;
    outline: none;
    border: none;
    border-radius: 5px;
    padding-left: 40px;
    color: white;
    font-size: 14px;
}
.send{
    position: absolute;
    width: 70px;
    height: 50px;
    background: #434a52;
    right: 9%;
    bottom: 10%;
    border-radius: 5px;
}
.mess-box{
    width:81.5%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    flex-direction: column-reverse;
    overflow-y: scroll;
    margin-top: 30px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    background-color: #ACF7C1;
}
.messes{
    width: 100%;
    height: auto;
    list-style: none;
}
.messes li{
    margin-top: 50px;
    color: white;
    width: 200px;
    height: auto;
    padding: 15px;
    background-color: green;
    border-radius: 15px;
}
.mess1{
    margin-left: 605px;
    background-color: green;
}
.mess2{
    transform: translateX(-500px);
    background-color: rgb(189, 163, 81) !important;
}
.mess1-thing, .mess2-thing{
    width: 20px;
    height: 20px;
    transform: rotate(45deg);
}
.mess1-thing{
    background-color: green;
    margin-top: -30px;
 margin-left: 790px;   
}
.mess2-thing{
    background-color: rgb(189, 163, 81);
    margin-top: -30px;
    margin-left: -5px;
}