*{
    margin: 0;
    font-family: 'Lato', sans-serif;
    padding: 0%;
    box-sizing: border-box;
    color: rgb(238, 232, 232);
}
html{
    background: #507DBC;
background: radial-gradient(circle, #507DBC 0%, #435b7c 100%);height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.chat-konta{
    width: 1300px;
    height: 700px;
    background: #8ca9c5;
    box-shadow: 5px 5px 15px rgb(54, 54, 54);
    border-radius: 25px;
    display: flex;
}
.users{
    width: 400px;
    height: 100%;
    background-color: #354863;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    display: flex;
    flex-direction: column;
}
.users h1{
    margin-top: 20px;
}
.naslov{
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom:5px solid  #A1C6EA;
    margin-bottom: 20px;
}
.names{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.names li{
    color: white;
    padding:15px;
    margin: 5px;
    background-color: #A1C6EA;
}


.komms{
    width: 200px;
}

.chat-box{
    width: 100%;
    position: relative;
}
.upis{
    width:82%;
    height: 50px;
    position: absolute;
    background: #576679;
    bottom: 10%;
    right: 9%;
    border-radius: 20px;
    outline: none;
    border: none;
    border-radius: 5px;
    padding-left: 40px;
    color: white;
    font-size: 14px;
}
.send{
    position: absolute;
    width: 70px;
    height: 50px;
    background: #434a52;
    right: 9%;
    bottom: 10%;
    border-radius: 5px;
}
.mess-box{
    width:81.5%;
    height: 82%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    flex-direction: column-reverse;
    overflow-y: scroll;
    margin-top: 30px;
    padding-bottom: 40px;
    border-top-left-radius: 25px;
    background-color: #BBD1EA;
}
.mess-box::-webkit-scrollbar{width:6px;border:5px solid #A1C6EA;}
::-webkit-scrollbar-thumb{background-color:#434a52;}
.messes{
    width: 100%;
    height: auto;
    list-style: none;
} 
.messes li{
    margin-top: 50px;
    color: white;
    width: 200px;
    height: auto;
    padding: 15px;
    background-color: #434a52;
    border-radius: 15px;
}
.mess1{
    transform: translate(-30px, 10px);
    background-color: #434a52;
    padding: 10px;
    border-radius: 15px;
    margin-bottom: 10px;
    margin-top: 40px;
    word-break: break-all;

}
.mess2{
    transform: translate(-500px, 10px);
    background-color: #a3a7a8 !important;
    padding: 10px;
    border-radius: 15px;
    margin-bottom: 10px;
    margin-top: 40px;
    word-break: break-all;
}
.mess2{
    padding-left: 20px;
}
.mess1-thing, .mess2-thing{
    width: 20px;
    height: 20px;
}
.mess1-thing{
    background-color: #434a52;
    margin-top: -30px;
 transform: translateX(153px) rotate(45deg); 
}
.mess2-thing{
    background-color: #a3a7a8;
 transform: translateX(-500px) rotate(45deg); 
    margin-top: -30px;
    margin-left: -5px;
}


/*/*/
.mojsije h2, .mojsije h3{
    padding: 15px;
    border-radius: 15px;
    margin-top: 50px;
    word-break: break-all;
}
.username-l, .username-d{
    color: black;
    margin-bottom: -30px;
}
.username-l{
    transform: translate(-500px, 10px);
}
@media only screen and (max-width:1350px) {
    body{
        transform: scale(.8);
    }
    
}
/* @media only screen and (max-width:1060px) {
    .users{
        display: none;
    }
    body{
        overflow: hidden;
    }
    .chat-konta{
        margin-left: -80px;
        margin-right: 50px;
        width: 1200px;
        height: 1000px;
    }
    .mess-box{
        width: 1000px;
    }
    .upis{
        width: 940px;
    }
    .send{
        margin-right: -60px;
        width:130px;
    }
    .mess2{
        width: 150px;
        margin-left: -250px;
    }
}
@media only screen and (max-width:860px) {
    .mess-box{
        width: 100%;
    }
    .upis, .send{
        transform: translateX(-220px);
    }
    .upis{
        width: 770px;
    }
} */
