*{
    margin: 0;
    font-family: 'Lato', sans-serif;
    padding: 0%;
    box-sizing: border-box;
    color: aliceblue;
}
html{
    background: rgb(233, 232, 232);
background: radial-gradient(circle, rgb(233, 232, 232) 0%, rgb(187, 186, 186) 100%);height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.chat-konta{
    width: 1300px;
    height: 700px;
    background: rgb(151, 151, 151);
    box-shadow: 5px 5px 15px rgb(54, 54, 54);
    border-radius: 25px;
    display: flex;
}
.users{
    width: 400px;
    height: 100%;
    background-color: rgb(77, 73, 73);
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    display: flex;
    flex-direction: column;
}
.users h1{
    margin-top: 20px;
}
.naslov{
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom:5px solid  rgb(238, 237, 237);
    margin-bottom: 20px;
}
.names{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.names li{
    color: rgb(77, 73, 73);
    padding:15px;
    margin: 5px;
    background-color: rgb(238, 237, 237);
}


.komms{
    width: 200px;
}

.chat-box{
    background-color: rgb(146, 143, 143);
    width: 100%;
    position: relative;
    border-top-right-radius: 20px;
}
.upis{
    width:82%;
    height: 50px;
    position: absolute;
    background-color: rgb(100, 100, 100);
    bottom: 10%;
    right: 9%;
    border-radius: 20px;
    outline: none;
    border: none;
    border-radius: 5px;
    padding-left: 40px;
    color: white;
    font-size: 14px;
}
.send{
    position: absolute;
    width: 70px;
    height: 50px;
    background-color: rgb(77, 73, 73);

    right: 9%;
    bottom: 10%;
    border-radius: 5px;
}
.mess-box{
    width:81.5%;
    height: 82%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    flex-direction: column-reverse;
    overflow-y: scroll;
    margin-top: 30px;
    padding-bottom: 40px;
    border-top-left-radius: 25px;
    background-color: rgb(240, 238, 238);

}
.mess-box::-webkit-scrollbar{width:6px;border:5px solid rgb(180, 180, 180);}
::-webkit-scrollbar-thumb{background-color:#434a52;}
.messes{
    width: 100%;
    height: auto;
    list-style: none;
} 
.messes li{
    margin-top: 50px;
    color: white;
    width: 200px;
    height: auto;
    padding: 15px;
    background-color: #434a52;
    border-radius: 15px;
}
.mess1{
    transform: translate(-30px, 10px);
    background-color: rgb(77, 73, 73);
    padding: 10px;
    border-radius: 15px;
    margin-bottom: 10px;
    margin-top: 40px;
    word-break: break-all;

}
.mess2{
    transform: translate(-500px, 10px);
    background-color: #a3a7a8 !important;
    padding: 10px;
    border-radius: 15px;
    margin-bottom: 10px;
    margin-top: 40px;
    word-break: break-all;
}
.mess2{
    padding-left: 20px;
}
.mess1-thing, .mess2-thing{
    width: 20px;
    height: 20px;
}
.mess1-thing{
    background-color: #434a52;
    margin-top: -30px;
 transform: translateX(153px) rotate(45deg); 
}
.mess2-thing{
    background-color: #a3a7a8;
 transform: translateX(-500px) rotate(45deg); 
    margin-top: -30px;
    margin-left: -5px;
}


/*/*/
.mojsije h2, .mojsije h3{
    padding: 15px;
    border-radius: 15px;
    margin-top: 50px;
    word-break: break-all;
}
.username-l, .username-d{
    color: black;
    margin-bottom: -30px;
}
.username-l{
    transform: translate(-500px, 10px);
}
@media only screen and (max-width:1350px) {
    body{
        transform: scale(.8);
        
    }
}
    @media only screen and (max-width:1060px) {
        body{
            width: 95%;
            margin-left: -240px;
        }
    }
    @media only screen and (max-width:960px) {
        .users{
            display: none;
        }
        .chat-box{
            margin-left: -50px;
        }
}
@media only screen and (max-width:860px) {
    .chat-konta{
        height: 1000px;
        width: 1000px;
        margin-left: -100px;
    }
    body{
        width: 100%;
        margin: 0;
    }
}
@media only screen and (max-width:630px) {
    .mess-box{
        position: absolute;
        top: 40%;
        left: 0%;
        width: 100%;
        height: 1000px;
        overflow-y: scroll;
        margin: 0%;
        transform: translateY(-400px);
        padding-bottom: 100px;
    }
    .formovi{
        transform: translate(-250px, 80px);
    }
    .upis{
        width: 550px !important;
        margin-left: -300px;
    }
    .send{
        width: 100px;
        transform: translateX(50px);
    }
    .mess1{
        transform: translateX(-200px);
    }
    .mess2{
        transform: translate(-600px, 10px);
    }
    .ine{
        transform: rotate(45deg) translate(-17px, 5px);
    }
    .ida{
        margin-left: -105px;
    }
    .username-d{
        transform: translateX(-150px);
    }
    .username-l{
        transform: translate(-600px, 20px);
    }

}
/* @media only screen and (max-width:1060px) {
    .users{
        display: none;
    }
    body{
        overflow: hidden;
    }
    .chat-konta{
        margin-left: -80px;
        margin-right: 50px;
        width: 1200px;
        height: 1000px;
    }
    .mess-box{
        width: 1000px;
    }
    .upis{
        width: 940px;
    }
    .send{
        margin-right: -60px;
        width:130px;
    }
    .mess2{
        width: 150px;
        margin-left: -250px;
    }
}
@media only screen and (max-width:860px) {
    .mess-box{
        width: 100%;
    }
    .upis, .send{
        transform: translateX(-220px);
    }
    .upis{
        width: 770px;
    }
} */
