body{
    width: 99%;
    height: 100%;
    background-color: rgb(249, 249, 249);
    font-family: 'Roboto', sans-serif;
    font-size: 1.6em;
    overflow: hidden;
}
.main-stuff{
    width: 600px;
    height: 600px;
    margin: 150px;
    display: flex;
    padding-left: 50px;
    padding-top: 50px;
    flex-direction: column;
    justify-content: center;
    border-radius: 50%;
    border-bottom-left-radius: 20%;
    background-color: rgb(233, 232, 232);
}
.ig-link{
    padding: 15px;
    background-color: rgb(77, 73, 73);
    border-radius: 30px;
    width: 60%;
}
.ig-link a{
    color: aliceblue;
    text-decoration: none;
}
.sve{
    width: 100%;
    height: 100%;
    position: absolute;
}
.back-pic{
    position: absolute;
    left: -15%;
    bottom: -15%;
    height: 150%;
    width: 600px;
    border-radius: 50%;
    background-color: rgba(223, 222, 222);
    z-index: -1;
}
.back-pic2{
    position: absolute;
    width: 400px;
    background-color: rgba(77, 73, 73, 0.4);
    height: 1400px;
    z-index: -2;
    transform: rotate(-15deg);
    left: 5%;
    top: -20%;
}
.back-pic3{
    position: absolute;
    bottom: -10%;
    z-index: -2;
    right: 0%;
    width: 1500px;
    height: 500px;
    background-color: rgb(121, 118, 118);
    transform: rotate(15deg);
}

.icon{
    margin: 50px;
    position: absolute;
    top: 0%;
    right: 0%;
    width: 80px;
    height: 80px;
    background-color: rgb(77, 73, 73);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
}
.icon:hover{
    cursor: pointer;
}
.head{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgb(249, 249, 249);
    border: 5px solid rgb(77, 73, 73);
    transform: translateY(5px);
}
.body{
    width: 30px;
    height: 30px;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    background-color: rgb(249, 249, 249);
    margin-bottom: 15px;
}
.konta{
    position: absolute;
    top: 0%;
    right: 20%;
}
.dropdown{
    position: absolute;
    top: 0%;
    right:0%;
    background-color: rgb(233, 232, 232);
    padding-top: 50px;
    width: 400px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.dropdown h4{
    padding: 15px;
    background-color: rgb(77, 73, 73);
    border-radius: 30px;
    width: 70%;
    font-weight: 100;
    margin-top: 15px;
}
.dropdown h4 a{
    color: aliceblue;
    text-decoration: none;
}
.iks{
    width: 100px;
    height: 100px;
    transform: translateY(500px);
    position: relative;
    margin-left: 70px;
}
.jedan, .dva{
    position: absolute;
    width: 10px;
    height: 100%;
}
.jedan{
    border-right: 10px solid black;
    transform: rotate(45deg);
    bottom: 7%;
}
.dva{
    border-right: 10px solid black;
    transform: rotate(-45deg);

}