*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    color: rgb(201, 162, 162);
}
html{
    background: rgb(92,0,41);
}
.sve-kont{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-kont{
    width: 350px;
    height: 350px;
    background-color: #ACF7C1;
    border-radius: 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.login-kont h1{
    font-size: 40px;
}
input, button{
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    margin-top: 30px;
    border-radius: 5px;
    border: 1px solid rgb(92,0,41);
    outline-color: rgb(92,0,41);
}
button{
    cursor: pointer;
    margin-bottom: 20px;
    background-color: #857C8D;
}