*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
.main-view{
    width: 1400px;
    height: 800px;
    background-color: red;
    margin:auto;
    display: flex;
    align-items: flex-end;
}
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.mySlides {
  display: none;
}

/* PREV, NEXT */
.prev, .next {
  cursor: pointer;
  width: 100px;
  position: absolute;
  height: 80px;
    background-color: white;
  margin-top: -22px;
  color: rgb(206, 200, 200);
  padding-right: 20px;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  bottom: 0%;
  margin-right: 0 !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
.next {
  right: -20%;
}
.prev{
    left:-20%
}
.prev:hover, .next:hover{
    background-color: red;
}

/* DOTS */
.dots{
    position: absolute;
    bottom: 2%;
    left:48%;
}
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin-top: 100px !important;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
/**/
.nav-lista{
  display: flex;
  justify-content: space-around;
  list-style: none;
  align-items: center;
  margin-top: 40px;
}
/* NAV BTNS */
.homeBtn{
    position: relative;
    width: 50px;
    height: 50px;
}
.krov{
    width: 5px;
border-left: 2px solid transparent;
border-right: 2px solid transparent;
border-bottom: 2px solid rgb(206, 200, 200);
;
border-width:20px;
position: absolute;
left: 15%;
top: 5%;
}
.donji{
width: 30px;
height: 25px;
position: absolute;
background-color: rgb(206, 200, 200);

top: 45%;
left: 25%;
}
.vrata{
width: 7px;
height: 15px;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
position:absolute;
background-color: white;
bottom: 2%;
left: 50%;
}
/**/
.chatBtn{
    position: relative;
    width: 70px;
    height: 70px;
}
.krug{
    width: 50px;
    height: 30px;
    background-color: rgb(206, 200, 200);

   
     border-radius: 50px;
     border-bottom-right-radius:0px ;
     position: absolute;
     top: 35%;
     left: 20%;
}
.cr1, .cr2, .cr3{
    width: 50%;
    height: 2px;
    background-color: white;
    position: absolute;
    margin-top: 2px;
    left: 25%;
    top: 10%;
    transform: translateY(5px);
}
.cr2{
    margin-top:7px;
}
.cr3{
    margin-top: 12px;
}
/**/
.expBtn{
    position: relative;
    width: 100px;
    height: 100px;
    transform: scale(.5);
    margin-top: 20px;
}
.veci-krug{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: rgb(206, 200, 200);

    display: flex;
    justify-content: center;
    align-items: center;
}
.manji-krug{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: white;
}
.palica{
    width: 50px;
    height: 15px;
    border-radius: 5px;
    background-color: rgb(206, 200, 200);

    position: absolute;
    right: 10%;
    bottom: 35%;
    transform: rotate(35deg);
}
/**/
.profileBtn{
    position: relative;
    width: 50px;
    height: 50px;
}
.tilo{
    width: 25px;
    height: 25px;
    position: absolute;
    bottom: 0;
    left: 20%;
    border-radius: 50%;
    background-color: rgb(206, 200, 200);

    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
.glava{
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    top: 15%;
    left: 25%;
    background-color: rgb(206, 200, 200);
    border: 4px solid white;
    z-index: 2;

}
.nemicise{
    height: 650px;
    overflow-y: scroll;
}
.mainPage{
    color: black !important;
}
.nego{
    width: 1100px;
    margin: auto;
    margin-left: -50px;
    height: 650px;
    background-color: green;
    margin-top: 70px;
}
.stories{
    margin-top: 0px !important;
}
.nav-lista{
    margin-top: 0px !important;
    background-color: white;
    overflow: hidden;
    height: 80px;
    width: 1200px;
    margin-left: -100px;
}
.nav-lista li{
    margin-right: 0% !important;
    width: 25%;
    height: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-lista li:hover{
    background-color: red;
}
.npage{
    position: relative;
}
.npage h1{
    position: absolute;
    transform: translate(-50px, -40px);
}
.greeting{
    position: relative;
}
.greeting h1{
    position: absolute;
    transform: translateY(-40px);

}