*{
    font-family: 'Lato', sans-serif;
}
body{
    margin: 0;
}
.main-konta{
    padding-top: 30px;
    width: 1200px;
    height: auto;
    background: rgba(234, 232, 235, 0.4);
    margin-left: auto;
    margin-right: auto;
}
.onaj-dio{
    width: 100%;
    padding-top: 30px;
    height: 300px;
    background: rgba(234, 232, 235, 0.4);

        display: flex;
    justify-content: flex-start;
    align-items: center;
}
.onaj-dio img{
    width: 200px;
    height: 200px;
    margin-left: 150px;
    background: beige;
}
.username, .foll{
    display: flex;
}
.foll{
    height: 100px;
}
.username h1, .foll h4, .desc{
    margin-left: 20px;
    margin-right: 20px;
}
.username button{
    height: 20px;
    margin-top: 40px;
}
.yes-lista{
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    list-style: none;
    display: flex;
    justify-content: space-around;
}
.yes-lista li:hover{
    background-color: rgb(206, 199, 199);
    cursor: pointer;
}
.da{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.da h2{
    margin-bottom: -10px;
}
.edit{
    height: 20px;
    border-radius: 5px;
    margin-top: 35px;
    padding: 5px;
    /* background-color: rgb(206, 199, 199); */
    background-color: rgb(226, 219, 219);
    border: .3px solid black;
}
.edit:hover{
    background-color: rgb(206, 199, 199);
    cursor: pointer;
}
