*{
    padding: 0%;
    margin: 0%;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    color: rgb(77, 73, 73);
}
html{
    background-color: rgb(233, 232, 232);
}
.sve-kont{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.login-kont{
    width: 500px;
    height: 500px;
    background-color: rgb(77, 73, 73);
    border-radius: 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.login-kont h1{
    color: aliceblue;
    font-size: 40px;
}
.err{
    height: 100px;
    width: 400px;
    font-size: 20px;
    text-align:center;
}
.err h3{
    font-weight: 100;
}
input, button{
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    margin-top: 15px;
    border-radius: 5px;
    border: 1px solid rgb(77, 73, 73);
    outline-color: rgb(77, 73, 73);
}
button{
    cursor: pointer;
    margin-bottom: 20px;
    background-color: rgb(146, 143, 143);
    color: rgb(249, 252, 255);
}
.pass-err{
    color: aliceblue;
    margin-top: 10px;
    font-weight: 100;
}