<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap" rel="stylesheet">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/chat.css">
</head>
<body>
    <div class="chat-konta">
        <div class="users">
            <div class="naslov">
            <h1>{% if logStatus == "Logged In" %}
                {{ username }}
                {% endif %}</h1>
        </div>
        <ul class="names">
            <li id="0">user1</li>
            <li id="1">user2</li>
            <li id="2">user3</li>
            <li id="3">user4</li>
            <li id="4">user5</li>
        </ul>
        </div>
        <div class="chat-box">
            <div class="mess-box">
                <ul class="messes">
                    <!--iF YOU-->
                    <li class="mess1">Tvoja poruka</li>
                    <div class="mess1-thing"></div>
                    <!--ELSE-->
                    <li class="mess2">Nhijova poruka</li>
                    <div class="mess2-thing"></div>
            </ul>
            <form action="">
                <input type="text" class="upis" id="heil">
                <button type="submit" class="send">Submit</button>
            </form>
    </div>
    <div>
        <h1><a href="/signout">LOG OUT</a></h1>
    </div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
<script type="text/javascript" charset="utf-8">
    'use strict';
    var socket = io();
    socket.emit('online');
    var list=new Array;
    var i;
    addEventListener('submit', function(e) {
        e.preventDefault();
        var inputt = document.getElementById('heil').value;
        socket.emit('message', inputt);
        document.getElementById('heil').value = '';
      });


      socket.on('announcements', function(data) {
        var k = data.split("///");
        var poruka = k[0];
        var sender = k[1];
        var cookieSender = getCookie('User');
        alert(cookieSender);
        if (sender == cookieSender){
            var strana = "desno";
        }else{
            var strana = "lijevo";
        }
        //masovaFunkcija(poruka,sender,strana);
    });     // OVAKO PRIMAMO STVARI,PRVA JE KAO ID
    
    socket.on('status_change', function(data) {
        var k = data.split("///");
        alert(k[0]+" is "+k[1]);
        if (k[1] == "online"){
            list.push(k[0])
            alert(list+" is/are online");
            makeNames();
        }else{
            var index = list.indexOf(k[0]);
            if (index > -1) {
            list.splice(index, 1);
            }
            alert(list+" is/are online");
            makeNames();
        }
    });
    function makeNames(){
        alert("WABBA KUBBA");
        for (i = 0; i < list.length; i++) {
            alert(i);
            document.getElementById(i).innerHTML = "Vibecheck";
        }
    }
    function getCookie(name) {
        const value = `; ${document.cookie}`;
        const parts = value.split(`; ${name}=`);
        if (parts.length === 2) return parts.pop().split(';').shift();
      }
</script>
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script src="chat.js"></script>
</body>
</html>