<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap" rel="stylesheet">
    <title>Document</title>
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <link rel="stylesheet" href="/static/css/chat.css">
</head>
<body>
    <div class="chat-konta">
        <div class="users">
            <div class="naslov">
            <h1>{% if logStatus == "Logged In" %}
                {{ username }}
                {% endif %}</h1>
        </div>
        <ul class="names">
            <li id="1">user1</li>
            <li id="2">user2</li>
            <li id="3">user3</li>
            <li id="4">user4</li>
            <li id="5">user5</li>
        </ul>
        </div>
        <div class="chat-box">
            <div class="mess-box">
                <div class="komms">
                <div v-if="kom2">
                  <ul class="messes">
                  <li v-for="comment in tvoji" :key="comment.id" class="mess1"><h3 v-html="comment"></h3></li>
                  <div class="mess1-thing"></div>
                  </ul>  
                  <div class="formovi">    
                  <input type="text" placeholder="komentar" class="upis" v-model="ti">
                  <button type="submit" @click="subKom()" class="send">Send</button>
                </div>
              </div>
              <div v-if="kom3">
                <ul class="messes">
                <li v-for="comment in njihovi" :key="comment.id" class="mess2"><h3 v-html="comment"></h3></li>
                <div class="mess2-thing"></div>
                </ul>
                <div class="formovi">   
                <form>
                <input type="text" class="upis" id="heil" placeholder="komentar" v-model="oni">
                <input type="submit" class="send">
                </form>
             <!--   <button type="submit" class="send" @click="subKom2()">Send</button>-->
            </div>
            </div>
          </div>
        </div>
            <!-- <div class="mess-box">
                <ul class="messes">
                    <li class="mess1">Tvoja poruka</li>
                    <div class="mess1-thing"></div>
                    <li class="mess2">Nhijova poruka</li>
                    <div class="mess2-thing"></div>
            </ul>
            <form action="">
                <input type="text" class="upis" id="heil">
                <button type="submit" class="send">Submit</button>
            </form>
    </div> -->
    <div>
        <h1><a href="/signout">LOG OUT</a></h1>
    </div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
<script type="text/javascript" charset="utf-8">
var app = new Vue({
  el:".komms",
  data:{
      objaviKom:false,
      objaviKomOni:false,
      kom2:false,
      kom3:true,
      ti:"",
      oni:"",
      kom:"ja2",
      tvoji:[],
      njihovi:[]
  }, 
  methods:{
    subKom(text){
      this.objaviKom=true;
      this.tvoji.push(this.ti);
      this.ti = '';
    },
    subKom2(text){
      this.objaviKomOni=true;
      this.njihovi.push(this.oni);
    },
    zaTebe(poruka, cijaJe){
      alert(poruka);
      this.ti = poruka;
      this.kom2 = cijaJe; //ako je true si ti
      this.tvoji.push(poruka);
    }
  }
})
    // 'use strict';
    var socket = io();
    socket.emit('online');
    
    addEventListener('submit', function(e) {
        e.preventDefault();
        var inputt = document.getElementById('heil').value;
        socket.emit('message', inputt);
        document.getElementById('heil').value = '';
      });


      socket.on('announcements', function(data) {
        var k = data.split("///");
        var poruka = k[0];
        var sender = k[1];
        var cookieSender = getCookie('User');
        alert(poruka+" "+ sender);
        if (sender == cookieSender){
            var strana = true;
        }else{
            var strana = false;
        }
        app.zaTebe(poruka,strana)
        // ODAVDJE CALLAM
        //masovaFunkcija(poruka,sender,strana);
    });     // OVAKO PRIMAMO STVARI,PRVA JE KAO ID
    

    function getCookie(name) {
        const value = `; ${document.cookie}`;
        const parts = value.split(`; ${name}=`);
        if (parts.length === 2) return parts.pop().split(';').shift();
      }
      document.getElementById("1").innerHTML = "Vibecheck";
</script>
<!-- <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script> -->
<script src="chat.js"></script>
</body>
</html>