<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Aladeen</title>
    <link rel="stylesheet" href="static/css/login.css">
</head>
<body>
    {% if error  %}
        <p>{{ error }}</p>
    {% endif %}
    <div class="sve-kont">
        <div class="login-kont">
            <h1>Login</h1>
            <form action = "/loginTry" method = "post">
                <input type="text" class="username" placeholder="Username" name="name"> 
                <input type="password" class="pass" placeholder="Password" name="password">
                <button type="submit">LOGIN</button>
            </form>
            <p>Haven't made acc? <a href="/signup">Sign Up</a></p>
        </div>
        {% for message in get_flashed_messages() %}
        <h2>{{ message}}</h2>
        {% endfor %}
    </div>
    <a href="/">Main</a>
</body>
</html>