<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Aladeen</title>
    <link rel="stylesheet" href="login.css">
</head>
<body>
    {% if error  %}
        <p>{{ error }}</p>
    {% endif %}
    <div class="sve-kont">
        <div class="login-kont">
            <h1>Login</h1>
            <input type="text" class="username" placeholder="Usename">
            <input type="password" class="pass" placeholder="Password">
            <button type="submit">LOGIN</button>
            <p>Haven't made acc? <a href="/signup">Sign Up</a></p>
        </div>
    </div>
    <a href="/">Main</a>
</body>
</html>