<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Aladeen</title>
    <link rel="stylesheet" href="static/css/login.css">
    <link rel="preconnect" href="https://fonts.gstatic.com/%22%3E">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">

</head>
<body>
    {% if error  %}
        <p>{{ error }}</p>
    {% endif %}
    <div class="sve-kont">
        <div class="login-kont">
            <h1>Login</h1>
            <form action = "/loginTry" method = "post" class="formi">
                <input type="text" class="username" placeholder="Username" name="name"> 
                {% for message in get_flashed_messages() %}
                <h4>{{ message}}!</h4>
                {% endfor %}
                <input type="password" class="pass" placeholder="Password" name="password">
                <button type="submit">LOGIN</button>
            </form>
            <p class="sg">Haven't made acc? <a class="sg" href="/signup">Sign Up</a></p>
        </div>
    </div>
</body>
</html>