<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Aladeen</title>
    <link rel="stylesheet" href="static/css/main.css">
</head>
<body>
    <div class="kar-kont">
        <div class="tekst-main">
        <h1>This is Aladeen Page</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur quo rem minima tempora doloribus unde placeat aperiam cupiditate sed maxime.</p>
    </div>
    <h1 class="lista-h">List of Applications</h1>
    <ul class="app-lista">
        <li><a href="/chat">Chat</a></li>
        <li><a href="/profile">Proflie</a></li>
        <li><a href="/signup">Signup</a></li>
        <li><a href="/mainTu">Main2</a></li>
    </ul>
    </div>
    <a href="/login">hjoj na </a>
</body>
</html>