<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="/static/css/profile.css">
</head>
<body>
    <div class="main-konta">
        <div class="onaj-dio">
      <!--   <img src="static/images/cover3.jpg" alt=""> OVAKO SE TO DELA--> 
         <img src="static/images/cover3.jpg" alt="">
          <div class="info-dio">
              <div class="username">
                  <h1>{{ username }}</h1>
                  <button>Edit profile</button>
              </div>
              <div class="foll">
                  <h4>0 posts</h4>
                  <h4>0 follo</h4>
                  <h4>0 fololow</h4>
              </div>
              <div class="desc">
                  <p>{{ bio }}</p>
              </div>
          </div>
        </div>
        <ul class="yes-lista">
            <li>POSTS</li>
            <li>IGTV</li>
            <li>SAVED</li>
            <li>TAGED</li>
        </ul>
    </div>
</body>
</html>