<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignUp Aladeen</title>
    <link rel="stylesheet" href="/static/css/signup.css">

</head>
<body>
    {% if error  %}
    <p>{{ error }}</p>
    {% endif %}
    <div class="sve-kont">
        <div class="login-kont">
            <h1>Sign Up</h1>
            <form class="form">
                <input type="text" class="username" placeholder="First Name" name="name">
                <input type="text" class="username" placeholder="Preffered Username" name="username">
                <input type="email" class="username" placeholder="Email" name="email">
                <h4 class="pass-err"></h4>
                <input type="password" class="pass pass1" placeholder="Password" name="password">
                <input type="password" class="pass pass2" placeholder="Repeat Password">
                <button type="submit">SIGN UP</button>
                </form>
            </form>
        </div>
    </div>
    <a href="/index">Main</a>
    <script src="/static/js/signup.js"></script>
</body>
</html>