<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="/static/css/profile.css">
    <meta id="my-data" data-name="{{id}}">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
        </style>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script type=text/javascript>
          var followin = {{ doFollow|safe }}
          followin = followin.toString();
          alert(followin);
            var flaskData = $('#my-data').data();
            $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
            function deg(){
              $.getJSON($SCRIPT_ROOT + '/followTry', {
                a: getCookie('User'),
                b: da(),
              }, function(data) {
                $("#result").text(data.result); 
                alert(Object.values(data.b));
              });
              // 19.5 STAO OVDJE DOBIJES KI ID FOLLOWA I KOGA FOLLOWA LP
              return false;
            }
            function da(){
              var gae =Object.values($('#my-data').data());
              gae = gae.toString()
              return gae;
            }
            function getCookie(name) {
              const value = `; ${document.cookie}`;
              const parts = value.split(`; ${name}=`);
              if (parts.length === 2) return parts.pop().split(';').shift();
            }
              </script>
</head>
<body>
    <div class="main-konta">
        <div class="onaj-dio">
      <!--   <img src="static/images/cover3.jpg" alt=""> OVAKO SE TO DELA--> 
         <img src="static/objave/{{ picture }}.jpg" alt="">
          <div class="info-dio">
              <div class="username">
                  <h1>{{ username }}</h1>
              </div>
              <div class="foll">
                  <div class="da">
                  <h2>{{ objave }}</h2>
                  <h4>posts</h4>
                </div>
                <div class="da">
                  <h2>{{ followers }}</h2>
                  <h4>followers</h4>
                </div>
                <div class="da">
                  <h2>{{ following }}</h2>
                  <h4>following</h4>
                  <button onclick="deg()" id="result">Follow</button>
                </div>
              </div>
              <div class="desc">
                  <h5>{{ bio }}</h5>
              </div>
          </div>
        </div>
        <ul class="yes-lista">
            <li>POSTS</li>
            <li>IGTV</li>
            <li>SAVED</li>
            <li>TAGED</li>
        </ul>
    </div>
</body>
</html>